{% extends "base.html.twig" %}
{% block title %}Admin Panel
{% endblock %}
{% block body %}

	<header class="masthead" style="background-image: url('/media/admin.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Commentaires</h1>
						<span>en attentes de validation</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="px-4 px-lg-5 h-50">
		<div class="row gx-4 gx-lg-5 justify-content-center ">
			<div class="col-md-10 col-lg-8 col-xl-7 ">
				{% if comments is empty %}
				<p class="text-center">Pas de commentaires en attentes de validation</p>
				{% endif %}
				{% for comment in comments %}
					<div class="post-preview">
						<h4 class="post-subtitle commentContent">{{comment.content|escape}}</h4>
						<p class="post-meta">
							Posté par
							<a href="#!">{{comment.author|escape}}</a>
							le
							{{comment.date|date("d/m/y")}}
						</p>
							<div class="d-flex justify-content-around flex-sm-row gap-4 flex-column">
								<a href="/post/{{comment.postId}}" class='btn btn-primary text-uppercase' target='_blank'>Page du post</a>
								<a href="/comment/validation/{{comment.id}}" class='btn btn-success text-uppercase'>Valider</a>
							</div>
					</div>
					<!-- Divider-->
					<hr class="my-4"/>

				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
