{% extends "base.html.twig" %}
{% block title %}
	{{post.title|escape}}
{% endblock %}
{% block body %}

	<header class="masthead" style="background-image: url('/media/readonePost.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1>{{post.title|escape}}</h1>
						<h2 class="subheading">{{post.caption|escape}}</h2>
						<span class="meta">
							Posté/Modifié par
							<a href="#!">{{post.author|escape}}</a>
							le
							{{post.date|date("d/m/y")}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- Post Content-->
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>{{post.content|escape}}</p>
				</div>
			</div>
		</div>

		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<h3>Commentaires :</h3>

					{% for comment in comments %}

						{% if comment.verif %}
							<hr class="my-4"/>
							<div class="post-preview">
								<h4 class="post-subtitle commentContent">{{comment.content|escape}}</h4>
								<p class="post-meta">
									Posté par
									<a href="#!">{{comment.author|escape}}</a>
									le
									{{comment.date|date("d/m/y")}}
								</p>
								{% if user and user.id == comment.userId %}
									<div class="d-flex justify-content-around flex-sm-row gap-4 flex-column align-items-center">
										<a href="" class='updateCommentBtn btn btn-primary text-uppercase'>Modifier</a>
										<form action="/post/comment/delete" method="POST">
											<input type="hidden" name="csrfToken" value="{{user.csrfToken}}">
											<input type="hidden" class="commentId" name="commentId" value="{{comment.id}}">
											<button type="submit" class="btn btn-danger text-uppercase">Supprimer</button>
										</form>
									</div>
								{% endif %}
							</div>
							<!-- Divider-->
							<hr class="my-4"/>
						{% endif %}

					{% endfor %}

					{% if user %}
						<p>Poster votre commentaire ici :</p>

						{% if error %}
							<div class="alert alert-danger" role="alert">
								<p>{{error}}</p>
							</div>
						{% endif %}

						<hr class="my-4"/>
						<form id="contactForm" action="/post/comment/add" method="POST">
							<div class="form-floating">
								<textarea class="form-control" name="content" id="message" placeholder="Entrer votre commentaire" style="height: 12rem"></textarea>
								<label for="message">Votre commentaire</label>
							</div>
							<input type="hidden" name="postId" value="{{post.id}}">
							<br/>
							<!-- Submit Button-->
							<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Soumettre à validation</button>
						</form>

					{% endif %}
				</div>
			</div>
		</div>


	</article>
	<script src="/js/updateComment.js"></script>
{% endblock %}
